
<app-navbar></app-navbar>
<a [routerLink]="['./documentation']">doc</a>
<router-outlet></router-outlet>
<h5>Basic</h5>
<p-button label="Submit"></p-button>
<p-button label="Disabled" [disabled]="true"></p-button>
<p-button label="Link" styleClass="p-button-link"></p-button>

<h5>Icons</h5>
<p-button icon="pi pi-check">

</p-button>
<p-button label="Submit" icon="pi pi-check"></p-button>
<p-button label="Submit" icon="pi pi-check" iconPos="right"></p-button>
<p-panelMenu [model]="items" [style]="{'width':'300px','margin':'1em'}"></p-panelMenu>
<app-footer></app-footer>