<!-- <div class="add-content">
    <div class="add-article"> -->
        <!-- <form action="new/article" method="post">
            <h2>Add New Article</h2>
            <div class="article-name">
                Article Name
                <input type="text" pInputText />
            </div>
            <div class="article-content">
                Content
                <textarea pInputTextarea></textarea>
            </div>
        </form> -->
        
        <!-- <form [formGroup]="addArticleForm"  (ngSubmit)="onSubmit()">
            <label>Article Title</label>
            <input type="text" id="articleTitle" formControlName="articleTitle"  #articleTitle >
            <div *ngIf="articleTitle?.invalid && (articleTitle?.touched || articleTitle?.dirty)">
                <small class="text-danger" *ngIf="articleTitle?.errors?.['required']">
                    Title Is Required
                </small>
            </div>
            <label>Content</label>
            <textarea  formControlName="content">

            </textarea>
            <div *ngIf="content?.invalid && (content?.touched || content?.dirty)">
                <small class="text-danger" *ngIf="content?.errors?.['required']">
                    Content Is Required
                </small>
            </div>
            <input type="button" value="submit">
        </form>
    </div>
</div> -->